@CHARSET "UTF-8";
/*drg>>This style sheet is used to control the appearance of most site pages*/
/*drg>>All edits to this styles should maintain alphabetical order when creating or updating any rules, as this will enable easy location of all rules*/
.bghover:hover {
	background-color: #EEE; 
}

.blue {
	color: #287896 !important;
}

.bold {
	font-weight: bold;
}

.breadcrumb {
	margin: 0rem;
	background-color: inherit;
}
.btn-file{
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file]{
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 16em;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.cool-button {
	color: #fff;
	background-color: #2c82b8;
	border-color: #2b80b5;
}

.cool-button:hover {
	color: #fff;
	background-color: #26709e;
	border-color: #2772a1;
}

.cool-button:focus, .cool-button.focus {
	-webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
	box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.cool-button.disabled, .cool-button:disabled {
	background-color: #0275d8;
	border-color: #0275d8;
}

.cool-button:active, .cool-button.active, .show>.cool-button.dropdown-toggle
	{
	color: #fff;
	background-color: #26709e;
	background-image: none;
	border-color: #2772a1;
}

#designer-logo img {
	height: 2.5rem;
	weight: auto;
}

.divider {
	width: 100%;
	height: 0.0625rem;
	overflow: hidden;
	background-color: #e5e5e5;
}

dl {
	
}

dt, dd {
	line-height: 1.42857143
}

dt {
	font-weight: bold
}

dd {
	margin-left: 0
}

@media ( min-width :992px) {
	.dl-horizontal dt {
		float: left;
		width: 7.5rem;
		clear: left;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dl-horizontal dd {
		margin-left: 8.125rem;
	}
}

.dropdown-item:hover { 
	background-color: #F3F3F3;
	color: #2CAC5C !important;
}

.full-button {
	color: #292b2c;
	background-color: #fff;
	border-color: #ccc;
}

.full-button:hover {
	color: #2CAC5C;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.full-button:focus, .btn-secondary.focus {
	-webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
	box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.full-button:disabled {
	background-color: #fff;
	border-color: #ccc;
}

.full-button:active {
	color: #292b2c;
	background-color: #e6e6e6;
	background-image: none;
	border-color: #adadad;
}

.green {
	color: #0B9C41 !important;
}

.help-block {
	display: block;
	margin-top: 0.3125em;
	margin-bottom: 0.625em;
}

.list-group-item>.list-link {
	display: block;
	padding: 0.675rem;
	font-size: 90%;
	width: 100%;
}

.list-group-item>.list-link:hover {
	background-color: #F3F3F3;
	color: #2CAC5C !important;
}

.list-link:hover {
	color: #2CAC5C !important;
}

list-inline {
	display: block;
}

.list-inline-item




















:not










 










(
:last-child










 










)
{
padding-right




















:










 










0
.3125rem




















;
border-right




















:










 










0
.03125rem










 










solid










 










#ADADAD




















;
}
.mr-auto {
	margin-right: 0 !important;
	margin-left: auto !important;
}

.navbar {
	border-top: 0.03125em solid #0B9C41;
	border-bottom: 0.125em solid #0B9C41;
}

.navbar-brand img {
	height: 4rem;
	width: auto
}

.nav-divider {
	float: left;
	width: 1px;
	margin-right: 1rem;
	margin-left: 1rem;
	overflow: hidden;
	border-right: 0.03125rem solid #ADADAD;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.notice .list-inline {
	margin-bottom: 0.5rem;
	/* 	font-size: 90%; */
}

.notice-heading {
	margin-bottom: 0rem;
	width: 100%;
}

.heading-link {
	color: #2cac5c;
	text-decoration: none;
}

.heading-link:hover {
	color: #0B9C41;
	text-decoration: none;
}

.partition {
	display: block;
	float: left;
	margin-bottom: 0.625rem;
}

.partition .partition-heading {
	display: block;
	background-color: #2878A9;
	border: 2px solid #2878A9;
	color: #f5f5f5;
	padding: 0.25rem 1rem;
	margin-bottom: 0.675rem;
	border-top-left-radius: 0.125rem;
	border-top-right-radius: 0.125rem;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.red {
	color: #D9534F;
}

.side-bar {
	border-top: none;
	border-bottom: none;
}

.side-bar .nav-link, .side-bar .nav-item {
	display: block;
}

.side-bar .navbar-toggler {
	padding: .25rem !important;
}

.side-bar .navbar-nav>.nav-item {
	padding: 0.75rem;
	margin: 0.5rem 0;
	background-color: inherit;
	border-radius: 0.25rem;
	font-size: 80%;
}

.side-bar #details-side-bar {
	/* 	background-color: rgba(44, 172, 92, 0.3) !important; */
	
}

.text-justify{
	text-align: justify;
}
.text-medium{
	font-size: 90%;
}
.table {
	display: table;
}

.width-full {
	width: 100%;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.yellow {
	color: #F0AD4E !important;
}