/*!
 * Codebase - v1.4.0
 * @author pixelcave
 * Copyright (c) 2017
 */
@media print {
    *, ::after, ::before {
        text-shadow: none !important;
        box-shadow: none !important
    }

    a, a:visited {
        text-decoration: underline
    }

    img, tr {
        page-break-inside: avoid
    }

    h2, h3 {
        orphans: 3;
        widows: 3
    }

    h2, h3 {
        page-break-after: avoid
    }

    .badge {
        border: 1px solid #000
    }

    .table {
        border-collapse: collapse !important
    }

    .table td {
        background-color: #fff !important
    }
}

*, ::after, ::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

@-ms-viewport {
    width: device-width
}

body {
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    color: #575757;
    text-align: left;
    background-color: #f5f6f7
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 20px
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

strong {
    font-weight: bolder
}

a {
    color: #42a5f5;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:hover {
    color: #0b72c6;
    text-decoration: none
}

img {
    vertical-align: middle;
    border-style: none
}

a, button, input:not([type=range]), label {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

table {
    border-collapse: collapse
}

label {
    display: inline-block
}

button {
    border-radius: 0
}

button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px
}

button, input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, input {
    overflow: visible
}

button {
    text-transform: none
}

button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h2, h3 {
    margin-bottom: 20px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    line-height: 1.2;
    color: #171717
}

h2 {
    font-size: 2.142857rem
}

h3 {
    font-size: 1.857143rem
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #eaecee
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-md-5, .col-md-7, .col-xl-3, .col-xl-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width: 768px) {

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
}

@media (min-width: 1200px) {

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent
}

.table td {
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid #eaecee
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, .04)
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 8px 14px;
    font-size: 1rem;
    line-height: 16px;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn:focus, .btn:hover {
    text-decoration: none
}

.btn:focus {
    outline: 0;
    box-shadow: none
}

.btn:disabled {
    opacity: .65
}

.btn:not([disabled]):not(.disabled):active {
    background-image: none
}

.btn-primary {
    color: #fff;
    background-color: #42a5f5;
    border-color: #0d89ed
}

.btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #0d89ed;
    border-color: #0a6dbd
}

.btn-primary:disabled, .btn-primary:not([disabled]):not(.disabled):active {
    background-color: #42a5f5;
    border-color: #0d89ed
}

.btn-success {
    color: #fff;
    background-color: #9ccc65;
    border-color: #7eb73d
}

.btn-success:focus, .btn-success:hover {
    color: #fff;
    background-color: #7eb73d;
    border-color: #649130
}

.btn-success:disabled, .btn-success:not([disabled]):not(.disabled):active {
    background-color: #9ccc65;
    border-color: #7eb73d
}

.btn-sm {
    padding: 5px 9px;
    font-size: .928571rem;
    line-height: 16px;
    border-radius: .2rem
}

.dropdown {
    position: relative
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 8px 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #575757;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eaecee
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #eaecee
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 10px;
    clear: both;
    font-weight: 400;
    color: #575757;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f5f6f7
}

.dropdown-item.active, .dropdown-item:active {
    color: #575757;
    text-decoration: none;
    background-color: #eaecee
}

.dropdown-item:disabled {
    color: #868e96;
    background-color: transparent
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.nav-pills .nav-link {
    border-radius: .25rem
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #42a5f5
}

.badge {
    display: inline-block;
    padding: 3px 5px;
    font-size: 85%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem
}

.badge-secondary {
    background-color: #868e96
}

.d-none {
    display: none !important
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important
}

@media (min-width: 576px) {

    .d-sm-inline {
        display: inline !important
    }

    .d-sm-table-cell {
        display: table-cell !important
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: none !important
    }

    .d-md-block {
        display: block !important
    }
}

@media (min-width: 1200px) {

    .d-xl-table-cell {
        display: table-cell !important
    }
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important
}

.float-right {
    float: right !important
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
}

.text-center {
    text-align: center !important
}

.text-primary {
    color: #42a5f5 !important
}

.text-success {
    color: #9ccc65 !important
}

.text-warning {
    color: #ffca28 !important
}

.text-danger {
    color: #ef5350 !important
}

@media print {

    .block-options {
        display: none !important
    }
}

body, html {
    font-size: 14px
}

strong {
    font-weight: 600
}

a {
    transition: color .12s ease-out
}

@media (max-width: 767px) {

    h2 {
        font-size: 1.857143rem
    }

    h3 {
        font-size: 1.571429rem
    }
}

.content-heading {
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 8px;
    font-size: 1.428571rem;
    font-weight: 400;
    line-height: 28px;
    border-bottom: 1px solid #eaecee
}

@media (min-width: 768px) {
    .content-heading {
        margin-bottom: 25px;
        padding-top: 40px
    }
}

.table-vcenter td {
    vertical-align: middle
}

.js-table-checkable tbody tr {
    cursor: pointer
}

label {
    margin-bottom: 5px;
    font-weight: 600
}

.btn {
    height: 34px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600
}

.btn.btn-rounded {
    border-radius: 50px !important
}

.btn-sm {
    height: 28px
}

.btn-alt-secondary {
    color: #171717;
    background-color: #eaecee;
    border-color: #eaecee
}

.btn-alt-secondary:focus, .btn-alt-secondary:hover {
    color: #171717;
    background-color: #cdd2d7;
    border-color: #cdd2d7;
    box-shadow: none
}

.btn-alt-secondary:disabled {
    background-color: #eaecee;
    border-color: #eaecee
}

.btn-alt-secondary:not([disabled]):not(.disabled):active {
    color: #171717;
    background-color: #eaecee;
    border-color: #eaecee
}

.dropdown-menu {
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 2px
}

.dropdown-item {
    margin-bottom: 5px;
    border-radius: 4px
}

.css-control {
    position: relative;
    display: inline-block;
    padding: 6px 0;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer
}

.css-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.css-control-input:focus ~ .css-control-indicator {
    box-shadow: 0 0 3px rgba(0, 0, 0, .35)
}

.css-control-input ~ .css-control-indicator {
    position: relative;
    display: inline-block;
    margin-top: -2px;
    margin-right: 3px;
    vertical-align: middle
}

.css-control-input ~ .css-control-indicator::after {
    position: absolute;
    content: ''
}

.css-checkbox .css-control-input ~ .css-control-indicator {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: background-color .15s
}

.css-checkbox .css-control-input ~ .css-control-indicator::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: FontAwesome;
    font-size: 10px;
    color: #fff;
    line-height: 18px;
    content: '\f00c';
    text-align: center
}

.css-checkbox:hover .css-control-input ~ .css-control-indicator {
    border-color: #eaecee
}

.css-checkbox.css-control-primary .css-control-input:checked ~ .css-control-indicator {
    background-color: #42a5f5;
    border-color: #0c80df
}

.nav-link {
    color: #575757;
    font-weight: 600
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    color: #42a5f5
}

.nav-users {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav-users > li:last-child > a {
    border-bottom: none
}

.nav-users a {
    position: relative;
    padding: 12px 8px 8px 71px;
    display: block;
    min-height: 62px;
    font-weight: 600;
    border-bottom: 1px solid #f5f6f7
}

.nav-users a > img {
    position: absolute;
    left: 12px;
    top: 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%
}

.nav-users a > i {
    position: absolute;
    left: 40px;
    top: 40px;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%
}

.nav-users a:hover {
    background-color: #fbfbfc
}

.badge-secondary {
    color: #fff;
    background-color: rgba(0, 0, 0, .33)
}

.content {
    margin: 0 auto;
    padding: 10px 10px 1px;
    width: 100%;
    overflow-x: visible
}

.content .block, .content .push {
    margin-bottom: 10px
}

@media (min-width: 768px) {
    .content {
        margin: 0 auto;
        padding: 24px 24px 1px;
        width: 100%;
        overflow-x: visible
    }

    .content .block, .content .push {
        margin-bottom: 24px
    }
}

.block {
    margin-bottom: 24px;
    background-color: #fff;
    box-shadow: 0 1px rgba(0, 0, 0, .03)
}

.block-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 18px;
    transition: opacity .2s ease-out
}

.block-header-default {
    background-color: #fbfbfc
}

.block-title {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 28px;
    margin: 0;
    font-size: 1.142857rem;
    font-weight: 400;
    line-height: 28px
}

.block-content {
    transition: opacity .2s ease-out;
    margin: 0 auto;
    padding: 18px 18px 1px;
    width: 100%;
    overflow-x: visible
}

.block-content.block-content-full {
    padding-bottom: 18px
}

.block-content .push {
    margin-bottom: 18px
}

.block-options {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 10px;
    min-height: 28px
}

.block-options .dropdown {
    display: inline-block
}

.btn-block-option {
    display: inline-block;
    padding: 6px 5px;
    line-height: 1.2;
    color: #868e96;
    background: 0 0;
    border: none
}

.btn-block-option .si {
    position: relative;
    top: 1px
}

.btn-block-option:hover {
    text-decoration: none;
    color: #343a40
}

.btn-block-option:active {
    color: #868e96
}

.img-avatar {
    display: inline-block !important;
    width: 64px;
    height: 64px;
    border-radius: 50%
}

.mt-5, .my-5 {
    margin-top: 5px !important
}

.mr-5, .mx-5 {
    margin-right: 5px !important
}

.my-5 {
    margin-bottom: 5px !important
}

.ml-5, .mx-5 {
    margin-left: 5px !important
}

.push {
    margin-bottom: 24px
}

.font-w400 {
    font-weight: 400 !important
}

.font-w600 {
    font-weight: 600 !important
}

.font-size-sm {
    font-size: .928571rem !important
}

.font-size-xs {
    font-size: .857143rem !important
}

.text-muted {
    color: #868e96 !important
}

@font-face {
    font-family: FontAwesome;
    src: url(../eot/fontawesome-webfont3e6e.eot?v=4.7.0);
    src: url(../eot/fontawesome-webfontd41d.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(../woff2/fontawesome-webfont3e6e.woff2?v=4.7.0) format("woff2"), url(../woff/fontawesome-webfont3e6e.woff?v=4.7.0) format("woff"), url(../ttf/fontawesome-webfont3e6e.ttf?v=4.7.0) format("truetype"), url(../svg/fontawesome-webfont3e6e.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-fw {
    width: 1.28571429em;
    text-align: center
}

.fa-star:before {
    content: "\f005"
}

.fa-times:before {
    content: "\f00d"
}

.fa-inbox:before {
    content: "\f01c"
}

.fa-pencil:before {
    content: "\f040"
}

.fa-plus:before {
    content: "\f067"
}

.fa-folder:before {
    content: "\f07b"
}

.fa-cogs:before {
    content: "\f085"
}

.fa-users:before {
    content: "\f0c0"
}

.fa-flask:before {
    content: "\f0c3"
}

.fa-circle:before {
    content: "\f111"
}

.fa-location-arrow:before {
    content: "\f124"
}

.fa-ellipsis-v:before {
    content: "\f142"
}

.fa-archive:before {
    content: "\f187"
}

.fa-send:before {
    content: "\f1d8"
}

.fa-trash:before {
    content: "\f1f8"
}

@font-face {
    font-family: simple-line-icons;
    src: url(../eot/simple-line-iconsb26c.eot?v=2.4.0);
    src: url(../eot/simple-line-iconsb26c.eot?v=2.4.0#iefix) format("embedded-opentype"), url(../woff2/simple-line-iconsb26c.woff2?v=2.4.0) format("woff2"), url(../ttf/simple-line-iconsb26c.ttf?v=2.4.0) format("truetype"), url(../woff/simple-line-iconsb26c.woff?v=2.4.0) format("woff"), url(../svg/simple-line-iconsb26c.svg?v=2.4.0#simple-line-icons) format("svg");
    font-weight: 400;
    font-style: normal
}

.si {
    font-family: simple-line-icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.si-arrow-left:before {
    content: "\e605"
}

.si-arrow-right:before {
    content: "\e606"
}

.si-size-fullscreen:before {
    content: "\e057"
}

.si-refresh:before {
    content: "\e098"
}