/*!
 * Bootstrap v4.0.0-alpha.6 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article, footer, header, nav {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active, a:hover {
	outline-width: 0;
}

strong {
	font-weight: inherit;
}

strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

audio:not ([controls] ) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not (:root ) {
	overflow: hidden;
}

button, input, select {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, html [type="button"], [type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

@media print {
	*, *::before, *::after, p::first-letter, div::first-letter, li::first-letter, p::first-line, div::first-line, li::first-line {
		text-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	a, a:visited {
		text-decoration: underline;
	}
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
	.navbar {
		display: none;
	}
	.table {
		border-collapse: collapse !important;
	}
	.table td, .table th {
		background-color: #fff !important;
	}
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

@-ms-viewport {
	width: device-width;
}

html {
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: #292b2c;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ul, dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

a {
	color: #0275d8;
	text-decoration: none;
}

a:focus, a:hover {
	color: #014c8c;
	text-decoration: underline;
}

a:not ([href] ):not ([tabindex] ) {
	color: inherit;
	text-decoration: none;
}

a:not ([href] ):not ([tabindex] ):focus, a:not ([href] ):not ([tabindex]
	):hover {
	color: inherit;
	text-decoration: none;
}

a:not ([href] ):not ([tabindex] ):focus {
	outline: 0;
}

img {
	vertical-align: middle;
}

[role="button"] {
	cursor: pointer;
}

a, button, [role="button"], input, select {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

table {
	border-collapse: collapse;
	background-color: transparent;
}

th {
	text-align: left;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

input, button, select {
	line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

small, .small {
	font-size: 80%;
	font-weight: normal;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline-item {
	display: inline-block;
}

.list-inline-item:not (:last-child ) {
	margin-right: 5px;
}

.img-thumbnail {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	max-width: 100%;
	height: auto;
}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

@media ( min-width : 576px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media ( min-width : 768px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media ( min-width : 992px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media ( min-width : 1200px) {
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media ( min-width : 576px) {
	.container {
		width: 540px;
		max-width: 100%;
	}
}

@media ( min-width : 768px) {
	.container {
		width: 720px;
		max-width: 100%;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 960px;
		max-width: 100%;
	}
}

@media ( min-width : 1200px) {
	.container {
		width: 1140px;
		max-width: 100%;
	}
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

@media ( min-width : 576px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

@media ( min-width : 768px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

@media ( min-width : 992px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

@media ( min-width : 1200px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

.col-1{
	max-width: 10%;
}

.col-2{
	max-width: 20%;
}

.col-3{
	max-width: 30%;
}
.col-4{
	max-width: 40%;
}
.col-5{
	max-width: 50%;
}
.col-6{
	max-width: 60%;
}
.col-7{
	max-width: 70%;
}
.col-8{
	max-width: 80%;
}
.col-9{
	max-width: 90%;
}
.col-10{
	max-width: 100%;
}

.col {
	position: relative;
	width: 100%;
	min-height: 0.1rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
}

.table th, .table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #eceeef;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #eceeef;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	color: #464a4c;
	background-color: #fff;
	background-image: none;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

.form-control:focus {
	color: #464a4c;
	background-color: #fff;
	border-color: #5cb3fd;
	outline: none;
}

.form-control::-webkit-input-placeholder {
	color: #636c72;
	opacity: 1;
}

.form-control::-moz-placeholder {
	color: #636c72;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #636c72;
	opacity: 1;
}

.form-control::placeholder {
	color: #636c72;
	opacity: 1;
}

.form-control:disabled {
	background-color: #eceeef;
	opacity: 1;
}

.form-control:disabled {
	cursor: not-allowed;
}

select.form-control:not ([size] ):not ([multiple] ) {
	height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
	color: #464a4c;
	background-color: #fff;
}

select.form-control-sm:not ([size] ):not ([multiple] ), .input-group-sm>select.form-control:not
	([size] ):not ([multiple] ), .input-group-sm>select.input-group-addon:not
	([size] ):not ([multiple] ), .input-group-sm>.input-group-btn>select.btn:not
	([size] ):not ([multiple] ) {
	height: 1.8125rem;
}

select.form-control-lg:not ([size] ):not ([multiple] ), .input-group-lg>select.form-control:not
	([size] ):not ([multiple] ), .input-group-lg>select.input-group-addon:not
	([size] ):not ([multiple] ), .input-group-lg>.input-group-btn>select.btn:not
	([size] ):not ([multiple] ) {
	height: 3.166667rem;
}

.btn {
	display: inline-block;
	font-weight: normal;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:hover {
	text-decoration: none;
}

.btn:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
	box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn:disabled {
	cursor: not-allowed;
	opacity: .65;
}

.btn:active {
	background-image: none;
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.btn-info:hover {
	color: #fff;
	background-color: #31b0d5;
	border-color: #2aabd2;
}

.btn-info:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
	box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-info:disabled {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.btn-info:active {
	color: #fff;
	background-color: #31b0d5;
	background-image: none;
	border-color: #2aabd2;
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.btn-warning:hover {
	color: #fff;
	background-color: #ec971f;
	border-color: #eb9316;
}

.btn-warning:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
	box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.btn-warning:disabled {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.btn-warning:active
	{
	color: #fff;
	background-color: #ec971f;
	background-image: none;
	border-color: #eb9316;
}

.collapse {
	display: none;
}

.dropdown {
	position: relative;
}

.dropdown-toggle::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.3em;
	vertical-align: middle;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-left: 0.3em solid transparent;
}

.dropdown-toggle:focus {
	outline: 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	font-size: 1rem;
	color: #292b2c;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

.dropdown-divider {
	height: 1px;
	margin: 0.5rem 0;
	overflow: hidden;
	background-color: #eceeef;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 3px 1.5rem;
	clear: both;
	font-weight: normal;
	color: #292b2c;
	text-align: inherit;
	white-space: nowrap;
	background: none;
	border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: #1d1e1f;
	text-decoration: none;
	background-color: #f7f7f9;
}

.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #0275d8;
}

.dropdown-item:disabled {
	color: #636c72;
	cursor: not-allowed;
	background-color: transparent;
}

.btn-group>.btn:not (:first-child ):not (:last-child ):not (.dropdown-toggle
	) {
	border-radius: 0;
}

.btn-group>.btn:first-child:not (:last-child ):not (.dropdown-toggle ) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.btn-group>.btn:last-child:not (:first-child ), .btn-group>.dropdown-toggle:not
	(:first-child ) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btn-group>.btn-group:not (:first-child ):not (:last-child ) >.btn {
	border-radius: 0;
}

.btn-group>.btn-group:first-child:not (:last-child ) >.btn:last-child,
	.btn-group>.btn-group:first-child:not (:last-child ) >.dropdown-toggle
	{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.btn-group>.btn-group:last-child:not (:first-child ) >.btn:first-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btn-group-vertical>.btn:not (:first-child ):not (:last-child ) {
	border-radius: 0;
}

.btn-group-vertical>.btn:first-child:not (:last-child ) {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical>.btn:last-child:not (:first-child ) {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.btn-group-vertical>.btn-group:not (:first-child ):not (:last-child ) >.btn
	{
	border-radius: 0;
}

.btn-group-vertical>.btn-group:first-child:not (:last-child ) >.btn:last-child,
	.btn-group-vertical>.btn-group:first-child:not (:last-child ) >.dropdown-toggle
	{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical>.btn-group:last-child:not (:first-child ) >.btn:first-child
	{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.input-group-addon:not (:first-child ):not (:last-child ),
	.input-group-btn:not (:first-child ):not (:last-child ),
	.input-group .form-control:not
	(:first-child ):not (:last-child ) {
	border-radius: 0;
}

.input-group .form-control:not (:last-child ), .input-group-addon:not (:last-child
	), .input-group-btn:not (:last-child ) >.btn, .input-group-btn:not (:last-child
	) >.btn-group>.btn, .input-group-btn:not (:last-child ) >.dropdown-toggle, .input-group-btn:not (:first-child ) >.btn:not (:last-child ):not (.dropdown-toggle
	), .input-group-btn:not (:first-child ) >.btn-group:not (:last-child )
	>.btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group-addon:not (:last-child ) {
	border-right: 0;
}

.input-group .form-control:not (:first-child ), .input-group-addon:not (:first-child
	), .input-group-btn:not (:first-child ) >.btn, .input-group-btn:not (:first-child
	) >.btn-group>.btn, .input-group-btn:not (:first-child ) >.dropdown-toggle, .input-group-btn:not (:last-child ) >.btn:not (:first-child ), .input-group-btn:not (:last-child ) >.btn-group:not (:first-child ) >.btn
	{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.form-control+.input-group-addon:not (:first-child ) {
	border-left: 0;
}

.input-group-btn:not (:last-child ) >.btn, .input-group-btn:not (:last-child
	) >.btn-group {
	margin-right: -1px;
}

.input-group-btn:not (:first-child ) >.btn, .input-group-btn:not (:first-child
	) >.btn-group {
	z-index: 2;
	margin-left: -1px;
}

.input-group-btn:not (:first-child ) >.btn:focus, .input-group-btn:not (:first-child
	) >.btn:active, .input-group-btn:not (:first-child ) >.btn:hover, .input-group-btn:not (:first-child ) >.btn-group:focus, .input-group-btn:not (:first-child ) >.btn-group:active, .input-group-btn:not (:first-child ) >.btn-group:hover {
	z-index: 3;
}

.nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-link {
	display: block;
	padding: 0.5em 1em;
}

.nav-link:focus, .nav-link:hover {
	text-decoration: none;
}

.nav-link.disabled {
	color: #636c72;
	cursor: not-allowed;
}

.nav-pills .nav-link {
	border-radius: 0.25rem;
}

.nav-pills .nav-link.active {
	color: #fff;
	cursor: default;
	background-color: #0275d8;
}

.navbar {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0.5rem 1rem;
}

.navbar-brand {
	display: inline-block;
	padding-top: .25rem;
	padding-bottom: .25rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-brand:focus, .navbar-brand:hover {
	text-decoration: none;
}

.navbar-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-text {
	display: inline-block;
	padding-top: .425rem;
	padding-bottom: .425rem;
}

.navbar-toggler {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.navbar-toggler:focus, .navbar-toggler:hover {
	text-decoration: none;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.navbar-toggler-right {
	position: absolute;
	right: 1rem;
}

@media ( min-width : 992px) {
	.navbar-toggleable-md {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.navbar-toggleable-md .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.navbar-toggleable-md .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem;
	}
	.navbar-toggleable-md .navbar-collapse {
		display: -webkit-box !important;
		display: -webkit-flex !important;
		display: -ms-flexbox !important;
		display: flex !important;
		width: 100%;
	}
	.navbar-toggleable-md .navbar-toggler {
		display: none;
	}
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover
	{
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
	{
	color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
	color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .active>.nav-link
	{
	color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
	border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
	color: rgba(0, 0, 0, 0.5);
}

.card {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

.card-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: #f7f7f9;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
	padding: 0.75rem 1.25rem;
	background-color: #f7f7f9;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
	border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.breadcrumb {
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	list-style: none;
	background-color: #eceeef;
	border-radius: 0.25rem;
}

.breadcrumb::after {
	display: block;
	content: "";
	clear: both;
}

.breadcrumb-item {
	float: left;
}

.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	color: #636c72;
	content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
	text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
	text-decoration: none;
}

.breadcrumb-item.active {
	color: #636c72;
}

.pagination {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-bottom-left-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
	border-bottom-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.page-item.active .page-link {
	z-index: 2;
	color: #fff;
	background-color: #0275d8;
	border-color: #0275d8;
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #0275d8;
	background-color: #fff;
	border: 1px solid #ddd;
}

.page-link:focus, .page-link:hover {
	color: #014c8c;
	text-decoration: none;
	background-color: #eceeef;
	border-color: #ddd;
}

.list-group {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
}

.list-group-item {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.75rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
	border-top-right-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.list-group-item:focus, .list-group-item:hover {
	text-decoration: none;
}

.list-group-item:disabled {
	color: #636c72;
	cursor: not-allowed;
	background-color: #fff;
}

.modal-footer>:not (:first-child ) {
	margin-left: .25rem;
}

.modal-footer>:not (:last-child ) {
	margin-right: .25rem;
}

.bg-faded {
	background-color: #f7f7f7;
}

.flex-column {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-webkit-flex-direction: column !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.mr-auto {
	margin-right: auto !important;
}

.text-center {
	text-align: center !important;
}

.text-muted {
	color: #636c72 !important;
}
/*# sourceMappingURL=bootstrap.css.map */
@CHARSET "UTF-8";
/*drg>>This style sheet is used to control the appearance of most site pages*/
/*drg>>All edits to this styles should maintain alphabetical order when creating or updating any rules, as this will enable easy location of all rules*/
@font-face {
	font-family: 'RobotoBold';
	src: url('fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
	font-family: 'NotoRegular';
	src: url('fonts/DroidSansFallback.ttf');
}

.mahadum {
	font-family: NotoRegular;
}

h1, h2, h3, h4, h5, h6 {
	font-family: RobotoBold;
}

.bghover:hover {
	background-color: #EEE; 
}

.blue {
	color: #287896 !important;
}

.breadcrumb {
	margin: 0rem;
	background-color: inherit;
}

.cool-button {
	color: #fff;
	background-color: #2c82b8;
	border-color: #2b80b5;
}

.cool-button:hover {
	color: #fff;
	background-color: #26709e;
	border-color: #2772a1;
}

.cool-button:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
	box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.cool-button:disabled {
	background-color: #0275d8;
	border-color: #0275d8;
}

.cool-button:active
	{
	color: #fff;
	background-color: #26709e;
	background-image: none;
	border-color: #2772a1;
}

#designer-logo img {
	height: 2.5rem;
	weight: auto;
}

.divider {
	width: 100%;
	height: 0.0625rem;
	overflow: hidden;
	background-color: #e5e5e5;
}

dl {
	
}

dt, dd {
	line-height: 1.42857143
}

dt {
	font-weight: bold
}

dd {
	margin-left: 0
}

@media ( min-width :992px) {
	.dl-horizontal dt {
		float: left;
		width: 7.5rem;
		clear: left;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dl-horizontal dd {
		margin-left: 8.125rem;
	}
}

.dropdown-item:hover { 
	background-color: #F3F3F3;
	color: #2CAC5C !important;
}

footer {
	position: relative;
	bottom: 0rem;
	width: 100%;
	padding: 0.5rem 0rem;
	color: #ADADAD;
	background-color: #f5f5f5;
	border-top: 0.03125em solid #e5e5e5;
	border-bottom: 0.03125em solid #e5e5e5;
}

.green {
	color: #0B9C41 !important;
}

.list-group-item>.list-link {
	display: block;
	padding: 0.675rem;
	font-size: 90%;
	width: 100%;
}

.list-group-item>.list-link:hover {
	background-color: #F3F3F3;
	color: #2CAC5C !important;
}

.list-link:hover {
	color: #2CAC5C !important;
}

.list-inline-item




















:not










 










(
:last-child










 










)
{
padding-right




















:










 










0
.3125rem




















;
border-right




















:










 










0
.03125rem










 










solid










 










#ADADAD




















;
}
.mr-auto {
	margin-right: 0 !important;
	margin-left: auto !important;
}

.navbar {
	border-top: 0.03125em solid #0B9C41;
	border-bottom: 0.125em solid #0B9C41;
}

.navbar-brand img {
	height: 4rem;
	width: auto
}

.navbar-nav .active>.nav-link {
	background-color: #2CAC5C;
	color: #F5F5F5 !important;
}

.nav-link:hover, .dropdown-menu a:hover {
	background-color: #F3F3F3;
	color: #2CAC5C !important;
}

.nav-item>.nav-link {
	padding: 1rem 1rem !important;
}

.nav-link>i {
	margin-top: -0.3125rem;
}

.nav-divider {
	float: left;
	width: 1px;
	margin-right: 1rem;
	margin-left: 1rem;
	overflow: hidden;
	border-right: 0.03125rem solid #ADADAD;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.notice .list-inline {
	margin-bottom: 0.5rem;
	/* 	font-size: 90%; */
}

.notice-heading {
	margin-bottom: 0rem;
	width: 100%;
}

.heading-link {
	color: #2cac5c;
	text-decoration: none;
}

.heading-link:hover {
	color: #0B9C41;
	text-decoration: none;
}

.partition {
	display: block;
	float: left;
	margin-bottom: 0.625rem;
}

.partition .partition-heading {
	display: block;
	background-color: #2878A9;
	border: 2px solid #2878A9;
	color: #f5f5f5;
	padding: 0.25rem 1rem;
	margin-bottom: 0.675rem;
	border-top-left-radius: 0.125rem;
	border-top-right-radius: 0.125rem;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.red {
	color: #D9534F;
}

.side-bar {
	border-top: none;
	border-bottom: none;
}

.side-bar .nav-item {
	display: block;
}

.side-bar .navbar-toggler {
	padding: .25rem !important;
}

.side-bar .navbar-nav>.nav-item {
	padding: 0.75rem;
	margin: 0.5rem 0;
	background-color: inherit;
	border-radius: 0.25rem;
	font-size: 80%;
}

.side-bar #details-side-bar {
	/* 	background-color: rgba(44, 172, 92, 0.3) !important; */
	
}

.text-center {
	text-align: center;
}

.table {
	display: table;
}

.width-full {
	width: 100%;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}
/*# sourceMappingURL=_site.css.map */
