
html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active, a:hover {
	outline-width: 0;
}

audio:not ([controls] ) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not (:root ) {
	overflow: hidden;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}


body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: #292b2c;
	background-color: #fff;
}

h2, h3 {
	margin-top: 0;
	margin-bottom: .5rem;
}

dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

a {
	color: #292b2c;
	text-decoration: none;
}

img {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	background-color: #fafafa;
}

th{
	text-align: left;
	font-weight: bold;
	color: #373c40;
	background-color: #f7f7f7;
}
h2, h3 {
	margin: 0 0 300 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1.1;
	color: inherit;
}

h2 {
	font-size: 32;
}

h3 {
	font-size: 28;
}

.small {
	font-size: 80%;
	font-weight: normal;
}

.list-inline-item:not (:last-child ) {
	margin-right: 5px;
}

.img-thumbnail {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto;
}

.table {
	width: 100%;
	max-width: 100%;
}

.table thead th {
	vertical-align: bottom;
}

.table-danger, .table-danger>td {
	background-color: #f2dede;
}

.card {
	position: relative;
	background-color: #f5f5f5;
	border-radius: 0.25rem;
}

.text-center {
	text-align: center;
}

.text-muted {
	color: #636c72;
}

dl {
	
}

dt, dd {
	line-height: 1.42857143
}

dt {
	font-weight: bold
}

dd {
	margin-left: 0
}

.dl-horizontal dt {
	float: left;
	width: 7.5rem;
	clear: left;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
	margin-left: 8.125rem;
}

.text-center {
	text-align: center;
}

.table {
	display: table;
}

.width-full {
	width: 100%;
}